#about {
  background-color: rgba(255,255,255,0.6);
  padding: 16px;
  margin: 16px 32px 0px;
}

.images {
  margin-bottom: 16px;
  padding: 16px;
}

.images img {
  height: 250px;
}

.about-section {
  margin-bottom: 64px;
}

@media only screen and (max-width: 600px) {
  #about {
    margin: 0;
  }

  .images img {
    width: 100%;
    max-height: 250px;
    height: auto;
  }
}